//VARIABLES

$bgc_color1: #111;
$bgc_color2: #222425;
$SNbgc: #fff;
$SNbgcHover: rgb(175, 175, 175);
$bgc_header_gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 0, 0, 0.5760679271708684) 50%,
  rgba(0, 0, 0, 0) 100%
);
$Lcolor_tre: #91291c;
$Corpo_color_tre: #91291c;
$Corpo_color_tre_l: #be3524;

//FONTS
$ff: 'Merriweather', serif;
$fc1: #fff;
$fc2: #a2a2a2;
$f_upper: uppercase;
$fz_nav: 1.1em;
$fz_subtitle: 42px;
$fz_parr: 15px;

//SOCIALNETWORK
$SNside: 50px;
$SNfooterSide: 30px;
$SNsideMD: 60px;

//SIZES
$maxWidthContent: 1400px;
$WfooterLogo: 265px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgc_color1;
  font-family: $ff;
  color: $fc1;
  //position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tre {
  &__header {
    position: absolute;
    background: $bgc_color1;
    background: $bgc_header_gradient;
    width: 100vw;
    height: auto;
    padding: 30px 35px 0px 35px;
    z-index: 10;
    &--content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .tre__header--burguer {
        display: none;
      }
      & .tre__header--close {
        display: none;
      }
      & .logo {
        z-index: 200;
        img {
          width: 233px;
          cursor: pointer;
        }
      }
      & .tre__nav {
        text-transform: $f_upper;
        ul {
          display: flex;
          justify-content: flex-end;
          gap: 2rem;
          li {
            list-style: none;
            a {
              color: $fc1;
              font-weight: bolder;
              text-decoration: none;
              letter-spacing: 0.1em;
              font-size: $fz_nav;
              transition: 0s ease all;
              &:hover {
                color: $Corpo_color_tre_l;
                font-weight: bolder;
              }
              &:active {
                color: $Corpo_color_tre_l;
              }
              &.selected {
                color: $Corpo_color_tre_l;
              }
            }
          }
        }
      }
    }
    &--close {
      display: none;
    }
  }
  &__ini {
    //position: absolute;
    background-color: $bgc_color2;
    display: flex;
    flex-direction: column;
    //order: 2;
    &--hero {
      img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: bottom;
      }
    }
    &--album {
      display: flex;
      justify-content: center;
      background-color: $bgc_color2;
      & .album__content {
        display: flex;
        flex-direction: row;
        max-width: $maxWidthContent;
        width: 100%;
        justify-content: space-between;
        padding: 5rem 1rem;
        gap: 8rem;
        &--left {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding: 6rem 1rem;
          &--centered {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            & .description {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              h2 {
                font-size: $fz_subtitle;
                font-weight: 700;
                font-style: normal;
                color: $Corpo_color_tre;
                line-height: 55px;
                text-transform: uppercase;
              }
              p {
                font-size: $fz_parr;
                font-weight: 400;
                font-style: normal;
                color: $fc1;
                line-height: 27px;
                text-align: justify;
              }
            }
            .socialnetwork {
              display: flex;
              justify-content: center;
              background-color: $bgc_color2;
              &__content {
                ul {
                  display: flex;
                  flex-direction: row;
                  gap: 0.9rem;
                  li {
                    list-style: none;
                    a {
                      font-size: 1.5rem;
                      text-decoration: none;
                      i {
                        color: rgb(27, 27, 27);
                        font-size: 1.7rem;
                        background-color: $SNbgc;
                        width: $SNside;
                        height: $SNside;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        transition: 0.2s ease all;
                        &:hover {
                          background-color: $Corpo_color_tre;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &--right {
          width: 50%;
          padding: 1rem;
          &--image {
            img {
              width: calc(1400px / 2);
              max-width: 100%;
              object-fit: cover;
              box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
}

.tre__footer {
  bottom: 0;
  z-index: 30;
  width: 100%;
  height: auto;
  background-color: $bgc_color1;
  display: flex;
  justify-content: center;
  &--container {
    max-width: $maxWidthContent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem 5rem 2rem;
    gap: 2rem;
  }
  &--logo {
    img {
      width: $WfooterLogo;
      margin-bottom: 1rem;
    }
  }
  &--socialnetwork {
    &--container {
      display: flex;
      ul {
        display: flex;
        list-style: none;
        gap: 0.4rem;
        li {
          a {
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: $SNfooterSide;
              height: $SNfooterSide;
              background-color: $SNbgc;
              color: $bgc_color2;
              transition: 0.3s ease all;
              &:hover {
                background-color: $SNbgcHover;
              }
            }
          }
        }
      }
    }
  }
  &--copyright {
    font-size: 0.8rem;
    color: #696865;
  }
}

.tre__music {
  display: flex;
  justify-content: center;
  padding: 12rem 0rem 3rem 0rem;
  &--container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0px 2rem;
    max-width: 1400px;
    width: 100%;
  }
  &--title {
    h2 {
      font-size: $fz_subtitle;
      text-transform: uppercase;
      text-align: center;
      color: $Corpo_color_tre_l;
    }
  }
  &--albums {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    &--items {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.tre__tour {
  display: flex;
  justify-content: center;
  padding: 12rem 0rem 3rem 0rem;
  &--container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0px 2rem;
    max-width: 1400px;
    width: 100%;
  }
  &--title {
    h2 {
      font-size: $fz_subtitle;
      text-transform: uppercase;
      text-align: center;
      color: $Corpo_color_tre_l;
    }
  }
  &--list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    &--item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.7rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      gap: 3rem;
      padding-bottom: 2rem;
      &--fecha {
        p {
          color: $Corpo_color_tre_l;
        }
      }
      &--lugar {
        h3 {
          text-transform: uppercase;
          text-align: center;
        }
      }
      &--departamento {
        p {
          color: $fc2;
        }
      }
    }
  }
}

.tre__contacto {
  display: flex;
  justify-content: center;
  padding: 12rem 0rem 3rem 0rem;
  background-color: $bgc_color2;
  &--container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0px 2rem;
    max-width: 1400px;
    width: 100%;
  }
  &--title {
    h2 {
      font-size: $fz_subtitle;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &--formulario {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
  }
  &--imagen {
    max-width: calc(1400px / 2);
    img {
      width: 100%;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    }
  }
  &--info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0;
    &--title {
      h3 {
        font-size: 2rem;
        text-transform: uppercase;
        color: $Corpo_color_tre_l;
      }
    }
    &--datos {
      font-size: 15px;
      p {
        color: $fc1;
        text-transform: uppercase;
        line-height: 1.8rem;
        a.links {
          color: $fc2;
          $fz_nav: 13.5px;
          text-underline-offset: 0.1em;
          text-transform: capitalize;
        }
      }
    }
  }
}

.show {
  display: block !important;
}
.hide {
  display: hide !important;
}

@media screen and (min-width: 1150px) and (max-width: 1399px) {
  .tre {
    &__header {
      &--content {
        & .tre__header--burguer {
          display: none;
        }
        & .tre__header--close {
          display: none;
        }
      }
    }
    &__ini--album {
      & .album__content {
        gap: 2rem;
        &--left {
          padding: 3rem 1rem;
          .description {
            h2 {
              font-size: 38px;
            }
          }
        }
        &--right {
          padding: unset;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1149px) {
  .tre {
    &__header {
      &--content {
        & .tre__header--burguer {
          display: none;
        }
        & .tre__header--close {
          display: none;
        }
        & .logo {
          img {
            width: 133px;
          }
        }
        & .tre__nav {
          ul {
            gap: 1.2rem;
          }
        }
      }
    }
    &__ini--album {
      & .album__content {
        gap: 2rem;
        &--left {
          padding: 0rem;
          .description {
            h2 {
              font-size: 38px;
            }
          }
        }
        &--right {
          padding: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tre {
    &__header {
      z-index: 100;
      &--content {
        position: relative;
        & .tre__header--burguer {
          display: block;
          z-index: 40;
          position: absolute;
          width: 30px;
          height: 30px;
          right: 0;
          a {
            text-decoration: none;
            i {
              display: block;
              color: $Corpo_color_tre;
              font-size: 2rem;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease all;
            }
            :hover {
              color: $Corpo_color_tre;
            }
            :active {
              color: $Corpo_color_tre;
            }
          }
        }
        & .tre__header--close {
          //display: none;
          z-index: 40;
          position: absolute;
          width: 30px;
          height: 30px;
          right: 0;
          a {
            text-decoration: none;
            i {
              color: $Corpo_color_tre;
              font-size: 2rem;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease all;
            }
            :hover {
              color: $Corpo_color_tre;
            }
            :active {
              color: $Corpo_color_tre;
            }
          }
        }
        & .logo {
          img {
            width: 133px;
          }
        }
        & .tre__nav {
          position: fixed;
          width: 100%;
          height: 100vh;
          background-color: $bgc_color2;
          top: 0;
          left: 100%;
          transition: 0.3s ease all;
          ul {
            flex-direction: column;
            padding: 33% 2rem;
            justify-content: flex-start;
            gap: 2rem;
            width: 100%;
            height: 100vh;
            li {
              display: flex;
              justify-content: center;
              a {
                text-align: center;
                text-transform: uppercase;
                font-size: 2rem;
                &.selected {
                  color: $Corpo_color_tre;
                }
              }
            }
          }
        }
      }
    }
    &__ini--album {
      & .album__content {
        flex-direction: column-reverse;
        gap: 1rem;
        &--left {
          width: 100%;
          padding: 1rem;
          &--centered {
            gap: 5rem;
            & .description {
              gap: 2rem;
              h2 {
                text-transform: uppercase;
                text-align: center;
              }
            }
            .socialnetwork {
              &__content {
                ul {
                  li {
                    a {
                      i {
                        font-size: 2rem;
                        width: $SNsideMD;
                        height: $SNsideMD;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &--right {
          width: 100%;
          padding: unset;
          img {
            width: 100%;
            max-width: unset;
          }
        }
      }
    }
    &__ini {
      &--hero {
        img {
          background-image: url('./images/BANDA.jpg');
        }
      }
    }
  }

  .tre__tour {
    &--container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 0px 2rem;
      max-width: 1400px;
      width: 100%;
    }
    &--title {
      h2 {
        font-size: $fz_subtitle;
        text-transform: uppercase;
        text-align: center;
      }
    }
    &--list {
      display: flex;
      flex-direction: column;
      gap: 7rem;
      width: 100%;
      &--item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        border-bottom: unset;
        &--fecha {
          p {
            font-size: 1.5rem;
            color: $Corpo_color_tre_l;
            text-transform: uppercase;
          }
        }
        &--lugar {
          h3 {
            font-size: 1.2em;
            text-align: center;
            text-transform: uppercase;
          }
        }
        &--departamento {
          p {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $fc2;
          }
        }
      }
    }
  }
  .tre__contacto {
    display: flex;
    justify-content: center;
    padding: 12rem 0rem 3rem 0rem;
    background-color: $bgc_color2;
    &--container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 0px 2rem;
      max-width: 1400px;
      width: 100%;
    }
    &--title {
      h2 {
        font-size: $fz_subtitle;
        text-transform: uppercase;
        text-align: center;
      }
    }
    &--formulario {
      flex-direction: column;
    }
    &--imagen {
      max-width: calc(1400px / 2);
      img {
        width: 100%;
        height: 580px;
        object-fit: cover;
        object-position: bottom;
      }
    }
    &--info {
      text-align: center;
    }
  }
  .hide {
    display: none !important;
  }
  .shoow {
    display: block !important;
  }
}

@media screen and (max-width: 540px) {
  .tre__contacto {
    &--formulario {
      gap: 1rem;
    }
    &--imagen {
      max-width: calc(1400px / 2);
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: bottom;
      }
    }
    &--info {
      text-align: center;
    }
  }
}
