* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Merriweather", serif;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tre__header {
  position: absolute;
  background: #111;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5760679272) 50%, rgba(0, 0, 0, 0) 100%);
  width: 100vw;
  height: auto;
  padding: 30px 35px 0px 35px;
  z-index: 10;
}
.tre__header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tre__header--content .tre__header--burguer {
  display: none;
}
.tre__header--content .tre__header--close {
  display: none;
}
.tre__header--content .logo {
  z-index: 200;
}
.tre__header--content .logo img {
  width: 233px;
  cursor: pointer;
}
.tre__header--content .tre__nav {
  text-transform: uppercase;
}
.tre__header--content .tre__nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.tre__header--content .tre__nav ul li {
  list-style: none;
}
.tre__header--content .tre__nav ul li a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  transition: 0s ease all;
}
.tre__header--content .tre__nav ul li a:hover {
  color: #be3524;
  font-weight: bolder;
}
.tre__header--content .tre__nav ul li a:active {
  color: #be3524;
}
.tre__header--content .tre__nav ul li a.selected {
  color: #be3524;
}
.tre__header--close {
  display: none;
}
.tre__ini {
  background-color: #222425;
  display: flex;
  flex-direction: column;
}
.tre__ini--hero img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}
.tre__ini--album {
  display: flex;
  justify-content: center;
  background-color: #222425;
}
.tre__ini--album .album__content {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  padding: 5rem 1rem;
  gap: 8rem;
}
.tre__ini--album .album__content--left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 1rem;
}
.tre__ini--album .album__content--left--centered {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.tre__ini--album .album__content--left--centered .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tre__ini--album .album__content--left--centered .description h2 {
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  color: #91291c;
  line-height: 55px;
  text-transform: uppercase;
}
.tre__ini--album .album__content--left--centered .description p {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 27px;
  text-align: justify;
}
.tre__ini--album .album__content--left--centered .socialnetwork {
  display: flex;
  justify-content: center;
  background-color: #222425;
}
.tre__ini--album .album__content--left--centered .socialnetwork__content ul {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
}
.tre__ini--album .album__content--left--centered .socialnetwork__content ul li {
  list-style: none;
}
.tre__ini--album .album__content--left--centered .socialnetwork__content ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}
.tre__ini--album .album__content--left--centered .socialnetwork__content ul li a i {
  color: rgb(27, 27, 27);
  font-size: 1.7rem;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.2s ease all;
}
.tre__ini--album .album__content--left--centered .socialnetwork__content ul li a i:hover {
  background-color: #91291c;
}
.tre__ini--album .album__content--right {
  width: 50%;
  padding: 1rem;
}
.tre__ini--album .album__content--right--image img {
  width: 700px;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.tre__footer {
  bottom: 0;
  z-index: 30;
  width: 100%;
  height: auto;
  background-color: #111;
  display: flex;
  justify-content: center;
}
.tre__footer--container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 5rem 2rem;
  gap: 2rem;
}
.tre__footer--logo img {
  width: 265px;
  margin-bottom: 1rem;
}
.tre__footer--socialnetwork--container {
  display: flex;
}
.tre__footer--socialnetwork--container ul {
  display: flex;
  list-style: none;
  gap: 0.4rem;
}
.tre__footer--socialnetwork--container ul li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #222425;
  transition: 0.3s ease all;
}
.tre__footer--socialnetwork--container ul li a i:hover {
  background-color: rgb(175, 175, 175);
}
.tre__footer--copyright {
  font-size: 0.8rem;
  color: #696865;
}

.tre__music {
  display: flex;
  justify-content: center;
  padding: 12rem 0rem 3rem 0rem;
}
.tre__music--container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0px 2rem;
  max-width: 1400px;
  width: 100%;
}
.tre__music--title h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #be3524;
}
.tre__music--albums {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
.tre__music--albums--items img {
  max-width: 100%;
  width: 100%;
}

.tre__tour {
  display: flex;
  justify-content: center;
  padding: 12rem 0rem 3rem 0rem;
}
.tre__tour--container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0px 2rem;
  max-width: 1400px;
  width: 100%;
}
.tre__tour--title h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #be3524;
}
.tre__tour--list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
.tre__tour--list--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  gap: 3rem;
  padding-bottom: 2rem;
}
.tre__tour--list--item--fecha p {
  color: #be3524;
}
.tre__tour--list--item--lugar h3 {
  text-transform: uppercase;
  text-align: center;
}
.tre__tour--list--item--departamento p {
  color: #a2a2a2;
}

.tre__contacto {
  display: flex;
  justify-content: center;
  padding: 12rem 0rem 3rem 0rem;
  background-color: #222425;
}
.tre__contacto--container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0px 2rem;
  max-width: 1400px;
  width: 100%;
}
.tre__contacto--title h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}
.tre__contacto--formulario {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
}
.tre__contacto--imagen {
  max-width: 700px;
}
.tre__contacto--imagen img {
  width: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}
.tre__contacto--info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 0;
}
.tre__contacto--info--title h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #be3524;
}
.tre__contacto--info--datos {
  font-size: 15px;
}
.tre__contacto--info--datos p {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8rem;
}
.tre__contacto--info--datos p a.links {
  color: #a2a2a2;
  text-underline-offset: 0.1em;
  text-transform: capitalize;
}

.show {
  display: block !important;
}

.hide {
  display: hide !important;
}

@media screen and (min-width: 1150px) and (max-width: 1399px) {
  .tre__header--content .tre__header--burguer {
    display: none;
  }
  .tre__header--content .tre__header--close {
    display: none;
  }
  .tre__ini--album .album__content {
    gap: 2rem;
  }
  .tre__ini--album .album__content--left {
    padding: 3rem 1rem;
  }
  .tre__ini--album .album__content--left .description h2 {
    font-size: 38px;
  }
  .tre__ini--album .album__content--right {
    padding: unset;
  }
}
@media screen and (min-width: 769px) and (max-width: 1149px) {
  .tre__header--content .tre__header--burguer {
    display: none;
  }
  .tre__header--content .tre__header--close {
    display: none;
  }
  .tre__header--content .logo img {
    width: 133px;
  }
  .tre__header--content .tre__nav ul {
    gap: 1.2rem;
  }
  .tre__ini--album .album__content {
    gap: 2rem;
  }
  .tre__ini--album .album__content--left {
    padding: 0rem;
  }
  .tre__ini--album .album__content--left .description h2 {
    font-size: 38px;
  }
  .tre__ini--album .album__content--right {
    padding: unset;
  }
}
@media screen and (max-width: 768px) {
  .tre__header {
    z-index: 100;
  }
  .tre__header--content {
    position: relative;
  }
  .tre__header--content .tre__header--burguer {
    display: block;
    z-index: 40;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
  }
  .tre__header--content .tre__header--burguer a {
    text-decoration: none;
  }
  .tre__header--content .tre__header--burguer a i {
    display: block;
    color: #91291c;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
  }
  .tre__header--content .tre__header--burguer a :hover {
    color: #91291c;
  }
  .tre__header--content .tre__header--burguer a :active {
    color: #91291c;
  }
  .tre__header--content .tre__header--close {
    z-index: 40;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
  }
  .tre__header--content .tre__header--close a {
    text-decoration: none;
  }
  .tre__header--content .tre__header--close a i {
    color: #91291c;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
  }
  .tre__header--content .tre__header--close a :hover {
    color: #91291c;
  }
  .tre__header--content .tre__header--close a :active {
    color: #91291c;
  }
  .tre__header--content .logo img {
    width: 133px;
  }
  .tre__header--content .tre__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #222425;
    top: 0;
    left: 100%;
    transition: 0.3s ease all;
  }
  .tre__header--content .tre__nav ul {
    flex-direction: column;
    padding: 33% 2rem;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    height: 100vh;
  }
  .tre__header--content .tre__nav ul li {
    display: flex;
    justify-content: center;
  }
  .tre__header--content .tre__nav ul li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .tre__header--content .tre__nav ul li a.selected {
    color: #91291c;
  }
  .tre__ini--album .album__content {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .tre__ini--album .album__content--left {
    width: 100%;
    padding: 1rem;
  }
  .tre__ini--album .album__content--left--centered {
    gap: 5rem;
  }
  .tre__ini--album .album__content--left--centered .description {
    gap: 2rem;
  }
  .tre__ini--album .album__content--left--centered .description h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .tre__ini--album .album__content--left--centered .socialnetwork__content ul li a i {
    font-size: 2rem;
    width: 60px;
    height: 60px;
  }
  .tre__ini--album .album__content--right {
    width: 100%;
    padding: unset;
  }
  .tre__ini--album .album__content--right img {
    width: 100%;
    max-width: unset;
  }
  .tre__ini--hero img {
    background-image: url("./images/BANDA.jpg");
  }
  .tre__tour--container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0px 2rem;
    max-width: 1400px;
    width: 100%;
  }
  .tre__tour--title h2 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
  }
  .tre__tour--list {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    width: 100%;
  }
  .tre__tour--list--item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: unset;
  }
  .tre__tour--list--item--fecha p {
    font-size: 1.5rem;
    color: #be3524;
    text-transform: uppercase;
  }
  .tre__tour--list--item--lugar h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
  }
  .tre__tour--list--item--departamento p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #a2a2a2;
  }
  .tre__contacto {
    display: flex;
    justify-content: center;
    padding: 12rem 0rem 3rem 0rem;
    background-color: #222425;
  }
  .tre__contacto--container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0px 2rem;
    max-width: 1400px;
    width: 100%;
  }
  .tre__contacto--title h2 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
  }
  .tre__contacto--formulario {
    flex-direction: column;
  }
  .tre__contacto--imagen {
    max-width: 700px;
  }
  .tre__contacto--imagen img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    object-position: bottom;
  }
  .tre__contacto--info {
    text-align: center;
  }
  .hide {
    display: none !important;
  }
  .shoow {
    display: block !important;
  }
}
@media screen and (max-width: 540px) {
  .tre__contacto--formulario {
    gap: 1rem;
  }
  .tre__contacto--imagen {
    max-width: 700px;
  }
  .tre__contacto--imagen img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }
  .tre__contacto--info {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
